In [8]:
import pandas as pd
import seaborn as sbn

In [9]:
df = pd.read_csv("C:\\Users\\k_makolov\\Desktop\\cardCreatings.csv",sep='~')
df['min'] = pd.to_numeric(df['creation_date'].str[14:16])
df['hours'] = pd.to_numeric(df['creation_date'].str[11:13])
df['creation_date'] = (df['creation_date'].str[:10])
df = df[['creation_date','hours','min','description','type']]
df.to_csv("C:\\Users\\k_makolov\\Desktop\\cardCreatingsCompleted.csv",sep='~')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58656 entries, 0 to 58655
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   creation_date  58656 non-null  object
 1   hours          58656 non-null  int64
 2   min            58656 non-null  int64
 3   description    49104 non-null  object
 4   type           58656 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.2+ MB
None

,creation_date,hours,min,description,type
0,2021-07-20,9,42,Спецификация № Приложение № 81 к Договору № DL...,B9F7BFD7-7429-455E-A3F1-94FFB569C794
1,2021-07-20,9,46,Счет на оплату - 00069395,B9F7BFD7-7429-455E-A3F1-94FFB569C794
2,2021-07-20,10,4,"Заявка на модификацию, 2503",16060B1C-C402-4E6B-A1DC-F9F03A12E01B
3,2021-07-20,10,15,Счет на оплату - 00069405,B9F7BFD7-7429-455E-A3F1-94FFB569C794
4,2021-07-20,12,3,Счет на оплату - 00069411,B9F7BFD7-7429-455E-A3F1-94FFB569C794